@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'commissioner';
    src: url('/fonts/Commissioner/Commissioner-VariableFont_FLAR,VOLM,slnt,wght.ttf');
  }
}

*{
  transition: 0.2s ease-in-out;
}